*,
*::before,
*::after body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

section {
    width: 100%;
    padding: 120px 0px;
    box-sizing: border-box;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    width: 1440px;
    height: 3300px;
    margin: 0px;
    background-color: #ffffff;
}

.container {
    max-width: 1158px;
    margin: 0px auto;
    padding: 0px 15px;

}

/*-------Header-------*/
.page-header {
    width: 1440px;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px o;
}

/*Header-logo-nav*/
.header-nav {
    display: flex;
    align-items: center;
}


.logo {
    margin-right: 76px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    display: flex;
}

.menu-link {
    padding: 24px 0;
}

/*Header-info*/
.header-info {
    display: flex;
    align-items: center;
}

.info-list {
    display: flex;
    gap: 40px;
}




/*-------Section-main-title------*/

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    padding: 188px 0;

}

.main-title {
    max-width: 496px;

}

.order-service-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48px;
    margin-left: 164px;
    margin-right: 163px;
    background-color: #4d5ae5;
    cursor: pointer;
}

/*------Section-service------*/

.section-service {
    width: 1128px;
    box-sizing: border-box;

}


.services-item {
    display: flex;
    gap: 24px;
    flex: 1 1 calc(25% - 8px);
    box-sizing: border-box;
}

.service {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: calc((100% - 72px) / 4);
}

.section-service-title {
    margin-bottom: 8px;
}


/*-----Section-person------*/

.section-person {
    width: 1440px;

    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 72px;

}


.person {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

}

.name {
    width: calc((100% - 72px) / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    border-radius: 0px 0px 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: auto;
}

.name-person {
    padding: 32px 0;

}

.section-title {
    text-align: center;
    margin-bottom: 8px;
}

.text {
    text-align: center;
}



/*------Section-portfolio------*/
.section-portfolio {
    display: flex;
    padding: 120px 0px;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.list-item {
    width: calc((100% - 48px) / 3);
    flex: 1 1 calc(33.333% - 32px);
    max-width: 360px;
    box-sizing: border-box;
    text-align: center;
}

.name-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-title {
    margin-bottom: 8px;
}

/*-----Footer-----*/
.page-footer {
    padding: 100px 0 100px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

/*Typograghy*/
.page-header .list .list-address .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-name {
    background-color: #ffffff;
}

.section-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.main-section {
    background-color: #2e2f42;
    color: #ffffff;
}

.main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.section-service {
    background-color: #ffffff;
}

.section-person {
    background-color: #f4f4fd;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}



.studio-black {
    color: #2e2f42;
}

.custom-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

ul li:first-child .custom-link:hover,
ul li:first-child .custom-link:focus {
    color: #404bbf;
}

.nav a {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-info {
    font-style: normal;
}

.address-link {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

ul li:first-child .address-link:hover,
ul li:first-child .address-link:focus {
    color: #404bbf;
}

.order-service-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;

}

.order-service-button:hover {
    background-color: #404bbf;
}

.order-service-button:focus {
    background-color: #404bbf;
}


.text-footer {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2e2f42;
}

.studio {
    color: #f4f4fd
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}